bottle==0.12.25
cssutils==2.7.1
docutils==0.20.1
hy==0.27.0
hyrule==0.4.0
inlinestyler==0.2.5
lxml==4.9.3
Markdown==3.4.4
nbconvert==7.8.0
peewee==3.16.3
pillow==10.0.0
pygments==2.16.1
python-dateutil==2.8.2
pytz>=2023.3
requests==2.31.0
smartypants==2.0.1
textile==4.0.2
watchdog==3.0.0
python-slugify==8.0.1
