bottle>=0.12.7
gevent>=1.0.1
goless>=0.7.2
hy>=0.10.1
uWSGI>=2.0.8
textile>=2.2.1
smartypants>=1.8.6
Markdown>=2.5.2
lxml>=3.4.1
peewee>=2.4.5
pygments>=2.0.1
docutils>=0.12
watchdog>=0.8.2
pillow>=2.6.1