/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.0rem;
    word-wrap: break-word; 
    -webkit-nbsp-mode: space; 
    -webkit-line-break: after-white-space; 
}
blockquote {
    font-style: italic;
}

.sidebar {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.highlight pre, pre {
    font-family: Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace !important;
    padding: 0.5em;
}

#seealso {
    padding-top: 1em;
    text-align: top;
    margin: 0px;
    display: table;
}
#seealso .holder {
    display: table-row;
}
#seealso a {
    display: inline-table;
    margin: 0px;
    padding: 0.3em;
    height: 4em;
    background: white;
}

a.seelink:hover {
    background: #4c9220 !important;
    color: white;
    text-decoration: none;
}

.footnote, .metadata {
    font-size: 85%;
    color: #888;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600; }

h1,
h2,
h3 {
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.message p {
    background-color: whitesmoke;
    padding: 1rem;
}
.error p {
    background-color: antiquewhite;
}

footer {
    margin-top: 2rem;
}

