/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    background-color: white; }

.blog {
    padding-top: 7rem;
}

.topbar {
/*    position: fixed;
    z-index: 100;
    -webkit-transform: scale3d(1,1,1);
    opacity: 0.95;
    top: 0;
    */
    width: 100%;
    max-width: 100%;
    
    margin: 0;
    padding: 1rem;
    background: whitesmoke;
}
.topbar h1 {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 600;
  font-size: 3rem;
}
.topbar h1, .topbar form {
      margin-bottom: 0;
}

.topbar a {
    text-decoration: none;
    color: black;
}

.highlight pre {
    font-family: Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace !important;
    padding: 0.5em;
    font-size: 1.2rem;
}

#seealso {
    padding-top: 1em;
    text-align: top;
    margin: 0px;
    display: table;
}
#seealso .holder {
    display: table-row;
}
#seealso a {
    display: inline-table;
    margin: 0px;
    padding: 0.3em;
    height: 4em;
    background: white;
}

a.seelink:hover {
    background: #4c9220 !important;
    color: white;
    text-decoration: none;
}

.footnote, .metadata {
    font-size: 85%;
    color: #888;
    font-weight: 300;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 600; }

.post-heading {
    margin-bottom: 0px;
}
.blog header {
    margin-bottom: 2rem;
}

.blog h1 { font-size: 1.8rem; }
.blog h2 { font-size: 1.6rem; }
.blog h3 { font-size: 1.4rem; }
.blog h4 { font-size: 1.2rem; }
.blog h5 { font-size: 1.1rem; }
.blog h6 { font-size: 1.0rem; }

.message p {
    background-color: whitesmoke;
    padding: 1rem;
}
.error p {
    background-color: antiquewhite;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    text-align: center;
    padding: 2rem 0 2rem;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}


/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
    height: 220px;
    padding: 5rem 0 1rem !important;
}



/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Bigger than 550 */
@media (min-width: 550px) {
}

/* Bigger than 750 */
@media (min-width: 750px) {
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
}