#topbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #4c9220;
    -webkit-transform: scale3d(1,1,1);
    top: 0;
}

.page-header {
    padding-top: 2em;
    font-size: 1.25em;
}

.highlight pre {
    font-family: Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace !important;
    padding: 0.5em;
}
