#topbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #4c9220;
    -webkit-transform: scale3d(1,1,1);
    opacity: 0.95;
    top: 0;
}

.page-header {
    padding-top: 4em;
    font-size: 1.25em;
}

.highlight pre {
    font-family: Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace !important;
    padding: 0.5em;
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 4em;
}

#seealso {
    padding-top: 1em;
    text-align: top;
    margin: 0px;
    display: table;
}
#seealso .holder {
    display: table-row;
}
#seealso a {
    display: inline-table;
    margin: 0px;
    padding: 0.3em;
    height: 4em;
    background: white;
}

a.seelink:hover {
    background: #4c9220 !important;
    color: white;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    line-height: 1.6em;
    font-size: 1em;
    padding: 1em;
    background: #2c5200;
    color: white;
    text-align: right;
}
footer a, footer a:hover {
    color: white;
}
.footnote {
    font-size: 85%;
}
h1, h2, h3, h4 {
    font-family:Roboto_slab,Arial,Helvetica,sans-serif;
    font-weight: normal;
}
